name: Simple MLOps Pipeline

on:
  push:
    branches: ["main"]

jobs:
  mlops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Train
      run: python src/train.py

    - name: Run Test
      run: python src/test.py

    - name: Run Monitor
      run: python src/monitor.py

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlops-artifacts
        path: |
          model/iris_model.pkl
          model/data_drift_report.html
